@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="grid-50">
        <div class="home">
            <h1>Precious Time</h1>
            <p>is a brand that values your business. </p>
            <p>We take our brand, intertwine it with your style, and deliver a product you will cherish forever.</p>
            <p>Precious Time also offers:</p>
            <p>&#8226; Repairs</p>
            <p>&#8226; Parts</p>
            <p>&#8226; Straps</p>
            <p>&#8226; Accessories</p>
            <br />
            <p>We guarantee our product 100%!</p>
            @using (Html.BeginForm("Index", "Items", FormMethod.Post))
            {    //To keep secure
                @Html.AntiForgeryToken()
                //input type button
                <input type="submit" class="btn btn-danger" value="SHOP NOW" />
            }
        </div>
    </div>
    <div class="text-center hImage">
        <div class="grid-50">
            <img src="~/Assets/Images/Original Grain.jpg" class="img-responsive" />
        </div>
    </div>


</div>

