/*#myMainImage {
    position: relative;
    width: 100%;
}

#myMainHead {
    position: absolute;
    width: 100%;
    top: 60px;
    left: 20px;
    font-size: 50px;
    color: white;
}

#myMainButton {
    position: absolute;
    top: 190px;
    left: 20px;
    background-color: black;
    color: white;
    border-style: none;
    padding: 12px 30px;
}*/

/*#myContactContainer {
    
}*/

/*Home Page*/

.nb {
    background-color:black;
    font-family:Dubai;
    font-size:16px;
}

.home {
    
    text-align:center;
    font-family:Dubai;
    font-size:20px;
    padding-top:90px;
}

.home h1 {
color:black;
    font-weight:bold;
    font-size:38px;
    font-family:Dubai;
}
.home p {
    font-weight:bold;
    font-size:20px;
}

.hImage {
    margin-top: 160px;
    border: 6px double black;
}

.headerImg {
    border:6px double black;
}

.itemImg {
    margin-top:20px;
    border:6px double black;
}

.bkg {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align:center;
}

.sp {
    margin-top:25px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left:40px;
    padding-right:40px;
    background-color:black;


}

    .sp h {
        font-weight: bold;
        font-size: 24px;
        color:red;
    }

    .sp p{
        color:white;
        font-weight:bold;
    }

.fp {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: white;
    color: black;
    text-align:center;
}

    .fp a {
        text-decoration: none;
        color:black;
        font-weight:bold;
    }

    .fp a:hover {
        color:red;
    }

.as a {
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-weight:bold;
}

    .as a:hover {
        color: red;
        text-decoration: none;
    }

.as h {
    font-weight: bold;
    font-size: 24px;
    color:red;
}

/*.na {
    position: absolute;
    width: 100%;
    top: 450px;
    left: 150px;
    font-size: 70px;
    color: white;
    font-weight:bold;
    font-family:Dubai;
}*/

.ab {
    color:black;
    font-weight:bold;
    font-family:Dubai;

}

.smi a {
    color: white;
}

.store i {
    color:white;
}

.store i:hover {
    color:grey;
}

.store h {
    font-weight: bold;
    font-size: 24px;
}

.uni {
    padding-bottom:50px;
    padding-top:30px;
}

.uni h2 {
    font-weight:bold;
    font-family:Dubai;
}
.uni th {
    color:red;
    font-family:Dubai;
    font-size:18px;
}

.uni td {
    font-weight:bold;
    font-family:Dubai;
    font-size:16px;
}

.idp {
    padding-bottom:50px;
    padding-top:30px;
}

.idp h2, h4 {
    font-weight:bold;
    font-family:Dubai;
    color:black;
}

.idp img {
    border-radius:4px;
}

.idp dt {
    color:red;
    font-weight:bold;
    font-size:18px;
    font-family:Dubai;
}

.idp dd {
    font-weight:bold;
    font-family:Dubai;
    font-size:16px;
}

.itemDel {
    padding-bottom:50px;
    padding-top:30px;
}

.itemDel h3 {
    font-weight:bold;
    color:red;
    font-family:Dubai;
}

.itemDel h2 {
    font-weight:bold;
    font-family:Dubai;
}

.itemDel dt {
    font-weight:bold;
    color:red;
    font-family:Dubai;
    font-size:18px;
}

.itemDel dd {
    font-weight:bold;
    font-family:Dubai;
    font-size:16px;
}

.chk {
    padding-top: 15px;
}

.chk a{
    text-decoration:none;
    color:grey;
    padding-top:12px;
}

.chk a:hover{
    color:white;
}

.create {
    margin-top:50px;
}

.create a{
    color:white;
    text-decoration:none;
}


.about h2{
    padding-top:50px;
    color:red;
    font-weight:bold;
    font-family:Dubai;
    font-size:38px;
}

.about p1{
    font-weight:bold;
    font-family:Dubai;
    color:black;
    font-size:18px;
}

.about p2 {
    font-weight: bold;
    font-family: Dubai;
    color: black;
    font-size: 18px;
    padding-bottom:50px;
}

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius: 1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left:0px;
        }

.search button {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius: 1px;
}   


.homeContact h2{
    font-weight:bold;
    font-family:Dubai;
    font-size:38px;
    color:red;
    margin-top:40px;
}

.homeContact p {
    font-weight: bold;
    font-family: Dubai;
    color: black;
    font-size: 18px;
}

.arwBTN {
    color:red;
    text-decoration:none;
}

.arwBTN:hover {
    color:white;
}


.cartTotal p{
    font-weight:bold;
    color:black;
    font-size:38px;
    font-family:Dubai;
}

.orderCon h1{
    font-weight:bold;
    color:red;
    font-family:Dubai;
    font-size:38px;
}

.orderCon p{
    font-weight:bold;
    color:black;
    font-family:Dubai;
    font-size:18px;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}

#social-insta:hover {
    color: #bc2a8d;
}

#social-linked:hover {
    color: #007bb6;
}

/*#social-em:hover {
    color: #f39c12;
}*/

